*{
    margin: 0;
    padding: 0;
}
/*Header*/
body{
    background-color: #ecf0f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header{
    background-color: #ecf0f3;
    height: 115px;
}
.logo{
    float: left;
    width: 29%;
    padding: 25px 0;
}
.meanu-area{
    float: right;
    padding: 40px 0;
}
.meanu-area ul li{
    display: inline-block;
    padding-left: 23px;
    font-weight: 600;
} 
.meanu-area ul{
    text-transform: uppercase;
}
.meanu-area ul li a{
    text-decoration: none;
    color: #000000;
    transition: all 2s linear;
}
.meanu-area a:hover{
    color: #5a696b;
}
.meanu-area ul li a.active{
    color: #ff0174;
}
.meanu-area a.active:hover{
    color: #5a696b;
}
.meanu-area ul li.last{
    box-shadow: 0 0 10px #c6d6f0;
    padding: 15px;
    margin: 0 0 0 15px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 1s linear;
}
.meanu-area ul li.last a{
    color: #ff0174;
}
.meanu-area li.last:hover{
    background: #e60b2f;
    transform: translate(0, -3px);
    transition: all 1s linear;
    
}
.meanu-area li.last:hover a{
    color: #fff;
}
.contant{
    height: 700px;
    border-bottom: 1px solid #0000002f;
    margin-bottom: 30px;
    padding-bottom: 80px;
}
.text-area{
    float: left;
    width: 60%;
    margin-top: 60px;
    margin-right: 60px;
}
.text-area h5{
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #5a696b;
    font-weight: 450;
}
.text-area h1{
    font-size: 75px;
    color: #1e2125;
    margin-bottom: 20px;
}
span{
    color: #ff014f;
}
.text-area p{
    color: #878a8b;
    font-size: 18px;
    margin-bottom: 90px;
    letter-spacing: 1px;
}
.icon-area{
    float: left;
    width: 50%;
    color: #5b5e62;
    letter-spacing: 2px;
}
.icon-area h5{
    margin-bottom: 15px;
}
.icon-2 h5{
    margin-bottom: 15px;
}
.icon-2{
    float: right;
    width: 50%;
    color: #5b5e62;
    letter-spacing: 2px;
}
i.icon{
    box-shadow: 5px 5px 5px #c4d6f3;
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
}
.icon-area i.icon:hover{
    background-color: #ff0174;
    color: aliceblue;
    border-radius: 10px;
    transform: translate(0, -3px);
    transition: all 1s linear;
}
.img-area{
    float: right;
    width: 35%;
    background-color: #e7ecef;
    box-shadow: 2px 20px 10px #c4d6f3;
    border-radius: 10px;
    margin-top: 90px;
    text-align: center;
}
.img-area img{
    width: 450px;
    height: auto;
    margin-top: -50px;
}
.features{
    background-color: #ecf0f3;
    height: 750px;
    border-bottom: 1px solid #0000002f;
    margin-bottom: 30px;
    padding-bottom: 80px;
}
.features h5{
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #f72264;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}
.features h2{
    letter-spacing: 2px;
    font-size: 50px;
    color: #3c3e41;
    text-transform: capitalize;
}
.features .box-area{
    background-color: #f4f6f7;
    width: 24%;
    float: left;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #c6d6f0;
    transition: all 1s linear;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.features .box-area:hover{
    box-shadow: 0 0 10px #c6d6f0;
    background-color: #ff014f;
    color: #fff;
    transition: all 2s linear;

}
.features .box-area:hover i{
    color: #fff;
}
.box-contant:hover{
    transform: translate(0, -3px);
    transition: all .5s linear;
}
.features .box-area:hover p{
    color: #fff;
}
.features .box-area h4{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.features .box-area p{
    font-size: 16px;
    letter-spacing: 1px;
    color: #5b5e62;
}
.box-area h6 i{
    font-size: 40px;
    color: #ff0174;
}
.features .box-area h6,.features .box-area h4{
    margin-bottom: 15px;
}
.protfolio{
    height: 700px;
}
.protfolio-item{
    background-color: #f4f6f7;
    width: 24%;
    float: left;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #c6d6f0;
    transition: all 1s linear;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 50px;

}
.protfolio-item img{
    width: 300px;
    height: auto;
    transform: scale(.8);
    border-radius: 10px;
}